<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-md-12 ">
                <h2>Create Form</h2>
                <form [formGroup]="createForm">
                    <div class="row">
                        <div class="form-group col-md-4">
                            <label>Field Type</label>
                            <select formControlName="fieldType" class="form-control" (change)="onFieldChange($event)">
                                <option value="" disabled selected>Select Field Type</option>
                                <option value="input">Input</option>
                                <option value="select">Select</option>
                                <option value="textarea">Text Area</option>
                            </select>
                        </div>
                        <div class="form-group col-md-4" *ngIf="selectFieldType == 'input'">
                            <label>Input Type</label>
                            <select formControlName="inputType" class="form-control">
                                <option value="" disabled selected>Select Input Type</option>
                                <option value="text">Text</option>
                                <option value="password">Password</option>
                                <option value="email">Email</option>
                                <option value="file">File</option>
                            </select>
                        </div>
                        <div class="form-group col-md-4">
                            <label>Name</label>
                            <input type="text" formControlName="name" class="form-control"
                                placeholder="Enter your Name" />
                        </div>

                        <div class="form-group col-md-4">
                            <label>ID</label>
                            <input type="text" formControlName="id" class="form-control" placeholder="Enter your Id" />
                        </div>

                        <div class="form-group col-md-4">
                            <label>Placeholder</label>
                            <input type="text" formControlName="placeholder" class="form-control"
                                placeholder="Enter your Placeholder" />
                        </div>
                        <div class="form-group col-md-4">
                            <label>Label</label>
                            <input type="text" formControlName="label" class="form-control"
                                placeholder="Enter your Label" />
                        </div>
                    </div>
                        <h6 *ngIf="selectFieldType == 'select'"><b>Add Options</b></h6>
                        <div class="row" *ngIf="selectFieldType == 'select'">
                            <form [formGroup]="selectForm" class="custom-form">
                                <div class="row">
                                <div class="form-group col-md-6">
                                    <label>Option to Display</label>
                                    <input type="text" formControlName="optionToDisplay" class="form-control"
                                        placeholder="Enter your Option" />
                                </div>
                                <div class="form-group col-md-6">
                                    <label>Option Value</label>
                                    <input type="text" formControlName="optionValue" class="form-control"
                                        placeholder="Enter your Option Value" />
                                </div>
                                </div>
                                <div  class="row">
                                <div class="form-group col-md-12">
                                    <button class="btn btn-primary" class="formgroup-btn" (click)="addOption()">Add Option</button>
                                </div>
                                </div>
                        </form>
                        <div class="container">
                            <table class="table table-bordered">
                                <tr>
                                    <th>
                                        Option to Display
                                    </th>
                                    <th>
                                        Option Value
                                    </th>
                                </tr>
                                <tr *ngFor="let map of options">

                                    <td>
                                        {{map.optionToDisplay}}
                                    </td>
                                    <td>
                                        {{map.optionValue}}
                                    </td>
                                </tr>

                            </table>
                        </div>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary" class="btn-createform" (click)="onCreate()">Create form</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>  
  